language: node_js
before_install: "! grep PLEASE_FILL_IN_HERE README.md"
node_js:
  - '10'
  - '12'
  - '14'
services:
  - rabbitmq
  - postgresql
env:
  - TEST_DATABASE_URL=postgres://postgres@localhost/test-db TEST_AMQP_URL=
addons:
  apt:
    packages:
    - rabbitmq-server
